version: '3.8'

services:
  web:
    build: .
    container_name: miapp_login
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: 1234
      DB_NAME: login_db

  db:
    image: mysql:8.0
    container_name: mysql_login_db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: login_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
